@import url("https://fonts.googleapis.com/css?family=News+Cycle");
body {
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  background-image: linear-gradient(darkgray, lightgray);
  min-height: 100vh; }
  body h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    text-align: center;
    color: white; }

svg {
  background: rgba(0, 100, 0, 0.4);
  border-radius: 20px; }

text {
  font-size: 12px; }
  @media (max-width: 600px) {
    text {
      font-size: 7px; } }

.tooltip {
  position: absolute;
  top: 100px;
  right: 20%;
  background: darkgray;
  width: auto;
  font-size: 18px;
  color: white;
  border-radius: 20px;
  margin: 0; }

.doping {
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px; }
