@import url("https://fonts.googleapis.com/css?family=News+Cycle");
body {
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  background-image: linear-gradient(darkgray, lightgray);
  min-height: 100vh; }
  body #app {
    height: auto;
    width: auto; }
  body h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    text-align: center;
    color: white; }

svg {
  background: rgba(0, 100, 0, 0.4);
  border-radius: 20px; }

text {
  font-size: 12px; }
  @media (max-width: 600px) {
    text {
      font-size: 7px; } }

.tooltip {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: auto;
  height: auto;
  color: darkgreen;
  border-radius: 20px;
  padding: 0;
  margin: 0; }

.doping {
  margin-top: 10px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-align: center; }
